<div class="vstack gap-2">
  <div class="col-11 p-2 mx-auto">
    <div class="card border-success">
      <div class="card-header bg-success text-white">
        Articles
      </div>
      <div class="table-responsive">
        <table class="table bg-light table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date Created</th>
              <th scope="col">Owner</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each articles as |article|}}
              <tr>
                <th scope="row">{{id}}</th>
                <td>{{title}}</td>
                <td>{{format_datetime date_created}}</td>
                <td>{{user.name}}</td>
                <td><a
                    href="/editArticle/{{id}}"
                    class="btn btn-info btn-sm"
                  >Edit</a></td>
                <td>
                  <a
                    href="/deleteArticle/{{id}}"
                    class="btn btn-danger btn-sm"
                  >Delete</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-11 mb-2 mx-auto">
    <div class="d-flex justify-content-center mx-auto">
      <a class="btn btn-success" href="/createArticle">Create Article</a>
    </div>
  </div>
</div>